# Node.js modules
node_modules/

# Environment files (for secrets and configurations)
.env



# Logs
*.log

# Temporary files or build artifacts
/dist
/build

# IDE or Editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store        # macOS
Thumbs.db        # Windows

# Test coverage files or temp files
coverage/
